<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>Mehrceey's Typing Speed</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<!-- Google Webfont -->
		<link href='https://fonts.googleapis.com/css?family=PT+Mono' rel='stylesheet' type='text/css'>
		<!-- Bootstrap -->
		<link rel="stylesheet" href="css/bootstrap.css">
		<!-- Theme Style -->
		<link rel="stylesheet" href="css/style.css">
	</head>
	<body>
		<!-- Header -->
		<header id="fh5co-header" role="banner">
			<div class="container">
				<!-- Logo -->
				<div id="fh5co-logo">
					<a href="/"><img src="images/mlogo1.jpg" width="100px" height="100px" alt="Work Logo"></a>
				</div>
				<!-- Logo -->
				<!-- Main Nav -->
				<div id="fh5co-main-nav">
					<nav id="fh5co-nav" role="navigation">
						<ul>
							<li class="fh5co-active"><a href="/">Home</a></li>
							<li class="fh5co-active"><a href="/task">Game</a></li>
							<li class="fh5co-active" onclick="signOut()">Sign out</li>
							<li></li>
						</ul>
						<a href="/leader" class="fh5co-nav-call-to-action js-fh5co-nav-call-to-action">Leaderboards</a>
					</nav>
				</div>
				<!-- Main Nav -->
			</div>
		</header>
		<!-- Header -->
		<main role="main">
			<!-- Start Work -->
			<div id="fh5co-work">
				<div class="container">
					<div class="row">
			<div id="fh5co-intro">
				<div class="container">
					<h3 style="margin-top: 15px; text-align: center">RESULTS</h3>
						<table id="my-table" class="table table-striped">
					    <thead>
					        <tr>
				            <th>S/N</th>
				            <th>Name</th>
				            <th>Words per Minute</th>
				            <th>Accuracy(%)</th>
				        	</tr>
					    </thead>
					</table>
				</div>
			</div>
		</div>
		</main>
		<footer id="fh5co-footer" role="contentinfo" style="margin-top: 53px">
			<div class="container">
				<div class="row">
					<ul class="fh5co-footer-social">
						<li><a href="http://twitter.com/mehrceey04">Twitter</a></li>
						<li><a href="http://facebook.com/OluwaMehrceey">Facebook</a></li>
						<li><a href="http://github.com/mehrceey04">Github</a></li>
						<li><a href="http://instagram.com/mehrceey04">Instagram</a></li>
					</ul>
					<p class="fh5co-copyright">(c) 2017 <a href="/">Home</a>. All Rights Reserved.<br></p>
				</div>
			</div>
		</div>
		</footer>
		<!-- Scripts Loaded Here -->
	  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script> 
    <!--Firebase Initialization-->
    <script src="https://www.gstatic.com/firebasejs/3.6.10/firebase.js"></script>
    <script src="https://www.gstatic.com/firebasejs/3.6.10/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/3.6.10/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/3.6.10/firebase-database.js"></script>
    <script src="https://cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js"></script>
    <script>
    // Initialize Firebase
    var config = {
      apiKey: "AIzaSyDTtXPIG5QLuOpEou_03cW9bwWlJsT55cU",
      authDomain: "typing-speed-app-c0ad7.firebaseapp.com",
      databaseURL: "https://typing-speed-app-c0ad7.firebaseio.com",
      storageBucket: "typing-speed-app-c0ad7.appspot.com",
      messagingSenderId: "461044281575"
    };
    firebase.initializeApp(config);

		$(document).ready(function() {
			var scoresRef = firebase.database().ref("scores/");
			var result = {};
			scoresRef.orderByChild("wpm").on("value", function (data) { 
				var counter = 1;
				var data_reverse = []
					data.forEach(function(snap)  {
						data_reverse.unshift(snap.val())
					})
					data_reverse.forEach(function(data) {
					console.log(data);
					var t = $('#my-table').DataTable();
					t.row.add( [
            counter,
            data.userName,
            data.wpm,
            data.accuracy
        		] ).draw( false );
				counter++
				})
		 	});
		});
		</script>
		<script src="js/app.js"></script>
	</body>
</html>
