<!-- 
  
-->
<!DOCTYPE html>
  <html>
    <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Mehrceey's Typing Speed</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Google Webfont -->
    <link href='https://fonts.googleapis.com/css?family=PT+Mono' rel='stylesheet' type='text/css'>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="css/bootstrap.css">
    <!-- Theme Style -->
    <link rel="stylesheet" href="css/style.css">
  </head>
  <body>
    <!-- Header -->
    <header id="fh5co-header" role="banner">
      <div class="container">
        <!-- Logo -->
        <div id="fh5co-logo">
          <a href="/"><img src="images/mlogo1.jpg" width="100px" height="100px" alt="Work Logo"></a>
        </div>
        <!-- Logo -->
        <!-- Main Nav -->
        <div id="fh5co-main-nav">
          <nav id="fh5co-nav" role="navigation">
            
          </nav>
        </div>
        <!-- Main Nav -->
      </div>
    </header>
    <!-- Header -->
    <main role="main">
      <!-- Start Intro -->
      <div id="fh5co-intro">
        <div class="container">
          <!-- Form -->
          <div class="container">
            <div class="row">
              <div class="col-md-12">
              </div>
              <div class="col-md-8 col-md-offset-2">
                <form action="/task" method="get">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="email" class="sr-only">Email</label>
                      <input placeholder="Email" id="email" type="text" class="form-control input-lg">
                    </div> 
                    <div class="form-group">
                      <label for="password" class="sr-only">Password</label>
                      <input placeholder="Password" id="password" type="password" class="form-control input-lg">
                    </div>  
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <input type="submit" id="sign-in" class="btn btn-primary btn-md" value="Sign in">
                      <input type="submit" id="sign-out" class="btn btn-primary btn-md hide" value="Sign out">
                    </div>  
                  </div>
                </form> 
              </div>  
            </div>
          </div>
        <!-- Form -->
        <h3 style="margin-top: 25px; text-align: center"></h3>
        </div>
      </div>
      <!-- End Intro -->
    </main>
    <footer id="fh5co-footer" role="contentinfo">
      <div class="container">
        <div class="row">
          <ul class="fh5co-footer-social">
            <li><a href="http://twitter.com/mehrceey04">Twitter</a></li>
            <li><a href="http://facebook.com/OluwaMehrceey">Facebook</a></li>
            <li><a href="http://github.com/mehrceey04">Github</a></li>
            <li><a href="http://instagram.com/mehrceey04">Instagram</a></li>
          </ul>
          <p class="fh5co-copyright">(c) 2017 <a href="/">Home</a>. All Rights Reserved.<br></p>
        </div>
      </div>
    </div>
    </footer>
  </body>
</html>