<!-- 
  
-->
<!DOCTYPE html>
  <html>
    <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Mehrceey's Space</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Google Webfont -->
    <link href='https://fonts.googleapis.com/css?family=PT+Mono' rel='stylesheet' type='text/css'>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="css/bootstrap.css">
    <!-- Theme Style -->
    <link rel="stylesheet" href="css/style.css">
    <!-- Firebase -->
    <!-- ***********************************************************************************************************************
       * TODO(DEVELOPER): Paste the initialization snippet from: Firebase Console > Overview > Add Firebase to your web app. *
       *********************************************************************************************************************** -->

    <script src="https://www.gstatic.com/firebasejs/3.6.10/firebase.js"></script>
    <script>
      // Initialize Firebase
      var config = {
      apiKey: "AIzaSyDTtXPIG5QLuOpEou_03cW9bwWlJsT55cU",
      authDomain: "typing-speed-app-c0ad7.firebaseapp.com",
      databaseURL: "https://typing-speed-app-c0ad7.firebaseio.com",
      storageBucket: "typing-speed-app-c0ad7.appspot.com",
      messagingSenderId: "461044281575"
    };
    firebase.initializeApp(config);
    </script>

  </head>
  <body>
    <!-- Header -->
    <header id="fh5co-header" role="banner">
      <div class="container">
        <!-- Logo -->
        <div id="fh5co-logo">
          <a href="/"><img src="images/mlogo1.jpg" width="100px" height="100px" alt="Work Logo"></a>
        </div>
        <!-- Logo -->
        <!-- Main Nav -->
        <div id="fh5co-main-nav">
          <nav id="fh5co-nav" role="navigation">
            
          </nav>
        </div>
        <!-- Main Nav -->
      </div>
    </header>
    <!-- Header -->
    <main role="main">
      <!-- Start Intro -->
      <div id="fh5co-intro">
        <div class="container">
          <!-- Form -->
          <div class="container">
            <div class="row">
              <div class="col-md-12">
              </div>
              <div class="col-md-8 col-md-offset-2">
                <form action="/task" method="get">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="username" class="sr-only">Username</label>
                      <input placeholder="Username" id="username" type="text" class="form-control input-lg">
                    </div> 
                    <div class="form-group">
                      <label for="email" class="sr-only">Email</label>
                      <input placeholder="Email" id="email" type="text" class="form-control input-lg">
                    </div> 
                    <div class="form-group">
                      <label for="password" class="sr-only">Password</label>
                      <input placeholder="Password" id="password" type="password" class="form-control input-lg">
                    </div>  
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <input type="submit" id="sign-up" class="btn btn-primary btn-md" value="Sign up">
                    </div>  
                  </div>
                </form> 
              </div>  
            </div>
          </div>
        <!-- Form -->
        <h3 style="margin-top: 25px; text-align: center"></h3>
        </div>
      </div>
      <!-- End Intro -->
    </main>
    <footer id="fh5co-footer" role="contentinfo">
      <div class="container">
        <div class="row">
          <ul class="fh5co-footer-social">
            <li><a href="http://twitter.com/mehrceey04">Twitter</a></li>
            <li><a href="http://facebook.com/OluwaMehrceey">Facebook</a></li>
            <li><a href="http://github.com/mehrceey04">Github</a></li>
            <li><a href="http://instagram.com/mehrceey04">Instagram</a></li>
          </ul>
          <p class="fh5co-copyright">(c) 2017 <a href="/">Home</a>. All Rights Reserved.<br></p>
        </div>
      </div>
    </div>
    </footer>
    <!--scripts-->
    <script src="https://code.jquery.com/jquery-3.1.1.min.js" ></script>
    
  </body>
</html>