<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Mehrceey's Typing Space</title>   	
    <link href='http://fonts.googleapis.com/css?family=Cutive+Mono|Roboto:400,900,700' rel='stylesheet' type='text/css'>
    <link href="css/bootstrap.css" rel="stylesheet" type="text/css">
    <link href="css/task.css" rel="stylesheet" type="text/css">
    <link href="css/style.css" rel="stylesheet" type="text/css">    
  </head>
  <body>
  	<!-- Header -->
		<header id="fh5co-header" role="banner">
			<div class="container">
				<!-- Logo -->
				<div id="fh5co-logo">
					<a href="/"><img src="images/mlogo1.jpg" width="100px" height="100px" alt="Work Logo"></a>
				</div>
				<!-- Logo -->
				<!-- Main Nav -->
				<div id="fh5co-main-nav">
					<nav id="fh5co-nav" role="navigation">
						<ul>
							<li class="fh5co-active"><a href="/">Home</a></li>
              <li class="fh5co-active" onclick="signOut()" id="sign-out"><a href="#">Sign out</a></li>
              <li class="fh5co-active" id="signed-in"><a href="/signin">Sign in</a></li>
              <li class="fh5co-active" id="sign-out"><a href="#">Games</a></li>
						</ul>
						<a href="/leader" class="fh5co-nav-call-to-action js-fh5co-nav-call-to-action">Leaderboards</a>
					</nav>
				</div>
				<!-- Main Nav -->
			</div>
		</header>
		<!-- Header -->
    <div class="results">
      <ul class="stats">
        <li>Words per minute:	<span id="wpm">0</span></li>
        <li>Wordcount: <span id="wordcount">0</span></li>
        <li>Timer: <span id="timer">0</span></li>
        <li>Errors: <span id="errors">0</span></li>
        <li>Accuracy: <span id="accuracy">0</span></li>
      </ul>
    </div>
    <div id="output"></div>
    <div class="target mono" id="target"></div>
    <div id="your-attempt" class="mono your-attempt" data-placeholder='Your text appear here'></div>
    <div>
      <textarea name="" id="input_text" cols="" rows=""></textarea>
    </div>
    <div class="settings">
      <a href="#" id="reset">Reset</a> | <a href="#" id="pause"> Pause </a>
    </div>
    <footer id="fh5co-footer" role="contentinfo">
			<div class="container">
				<div class="row">
					<ul class="fh5co-footer-social">
						<li><a href="http://twitter.com/mehrceey04">Twitter</a></li>
						<li><a href="http://facebook.com/OluwaMehrceey">Facebook</a></li>
						<li><a href="http://github.com/mehrceey04">Github</a></li>
						<li><a href="http://instagram.com/mehrceey04">Instagram</a></li>
					</ul>
					<p class="fh5co-copyright">(c) 2017 <a href="/">Home</a>. All Rights Reserved.<br></p>
				</div>
			</div>
		</div>
		</footer>
	  <!-- Scripts Loaded Here -->
	  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script> 
    <!--Firebase Initialization-->
    <script src="https://www.gstatic.com/firebasejs/3.6.10/firebase.js"></script>
    <script src="https://www.gstatic.com/firebasejs/3.6.10/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/3.6.10/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/3.6.10/firebase-database.js"></script>
    <script>
    // Initialize Firebase
    var config = {
      apiKey: "AIzaSyDTtXPIG5QLuOpEou_03cW9bwWlJsT55cU",
      authDomain: "typing-speed-app-c0ad7.firebaseapp.com",
      databaseURL: "https://typing-speed-app-c0ad7.firebaseio.com",
      storageBucket: "typing-speed-app-c0ad7.appspot.com",
      messagingSenderId: "461044281575"
    };
    firebase.initializeApp(config);
    var signOutElement = $('#sign-out');
    var signInElement = $("#signed-in");
    signOutElement.hide();
    firebase.auth().onAuthStateChanged(function(user) {
      if (user) {
        signOutElement.show();
        signInElement.hide();
      }
    });
    </script>
	  <script src="js/task.js"></script>
    <script src="js/app.js"></script>
  </body>
</html>